<body class = 'body-index'>

<div class = "list-index">

<div class = "list-title"><span class = "title-label">List of Quotes</span> </div>

<table class = "list">
  <thead>
    <th> QUOTES </th>
    <th> Author </th>
    <th> Actions </th>
  </thead>
  <% @quote.each do |quote|%>
    <tr>
      <td class= "main-quote"> " <%= quote.quote%> "</td>
      <td> -- <%= quote.author %> </td>
      <td><%= link_to 'Delete', delete_quotes_path(quote), method: :delete%>
      <button class ="link-btn"> <%= link_to 'Edit', edit_quotes_path(quote), class: "edit" %></button></td>
    </tr>
  <%end%>
</table>

</div>

</body>
