<body class ="show-body-author">

  <header class = "show-header-author">
  <span class ="title">My Desk <span>
  </header>

  <div class = 'container-quotes-edit'>
      <div class = "list-title-add-edit">
        <span class = "title-label-edit">Edit Quotes</span> 
      </div>

    <%= form_for(:quote, :url => {:controller => 'quotes', :action => 'create'}) do |f| %>

    <div class ="form-body">

      <div class ="form-parts">
          <span class ="label-edit-quote">Quote:</span>
          <%= f.text_area :quote, class: 'input-quote'%>
      </div>

      <div class="submit">
      <%=f.submit "Add Quote", class:"submit-edit" %>
      </div>
    </div>
  <% end %>
  </div>

<%= link_to 'Back',root_path %>
</body>
