
<body class = "body-randomizer">
<div class="container-1">
<div class = "time">
  TIME
</div>
<div class ="name">
  Good morning, Jose!
</div>
<div class = "task">
  <div>
  What is your main task today?
  </div>
  <div>
  ______________________________
  <div>
</div>
<div class = "quote">
 <%= @quote_print %> - <%= @author_print %>
</div>
</div>

 
<div>
 
</div>

<body>

