<body class ="show-body-author">

	<header class = "show-header-author">
	<span class ="title">My Desk <span>
	</header>


  
  <div class = 'container-quotes-edit'>
    <div class = "author-title">
      New Author
    </div>
      <%= form_with(model: @author, :url => {:controller => 'authors', :action => 'update'}) do |f| %>
      <div class = "form-parts">
      <span class ="label-edit-quote">Author:</span>
        <%= f.text_field :author_name, class: 'input-quote' %>
      </div>

      <div class = "submit">
      <%= f.submit :"Save", class:"submit-edit" %>
    </div>
    <%end%>
</div>

</body>
