
<body class ="show-body-author">

  <header class = "show-header-author">
    <span class ="title">My Desk <span>
  </header>

  <div class ="container">

    <div class ="title-signup"> Edit Tag </div>
      <%= form_with(model: @tag, :url => {:controller => 'tags', :action => 'update'}) do |f| %>
      
        <div class ="form-parts">
          <span class ="form-labels">Tag:</span>
          <%= f.text_field :tag_name, class: "input-fields" %>
        </div>

        <div class ="form-button">
          <%= f.submit "Save", class: "button" %>
        </div>
        
      <% end %>

  </div>
</body> 
