// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-header-author {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background-color: rgb(104, 103, 103);
  color: rgb(223, 219, 219);
  height: 80px;
  opacity: 90%;
}

.show-body-author {
  padding: 0;
  margin: 0;
  background-image: url('author.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container-show-author {
  background-color: rgb(104, 103, 103);
  min-width: 500px;
  max-width: 80%;
  margin: 50px auto;
  padding: 20px 0px;
  opacity: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 5px;

}

.body-top {
  background-color: rgb(66, 68, 66);
  min-width: 70%;
  height: 140px;
  padding: 10px;
  border: solid rgb(8, 8, 8);
  border-radius: 5px;
}

.author-title {
  font-size: 1.8em;
  text-align: center;
  font-weight: 900;
  color: black;
  text-shadow: rgb(36, 35, 35) 0.75px 0.75px;
  letter-spacing: 1px;

}

.author-name {
  margin: 10px auto 20px;
  max-width: 90%;
  font-size: 2.3em;
  font-weight: 800;
  text-align: center;
  color: rgb(226, 226, 224);
  text-shadow: rgb(20, 20, 20) 1px 1px;
  // border-bottom: solid rgb(160, 159, 159) 2px;
}

.link-to-add {
  margin: 0 auto;
  width: 120px;
  text-align: center;
  background-color: rgb(227, 228, 225);
  font-size: 1.1em;
  border-radius: 5px;
}

.link-to-add:hover {
  background-color: rgb(40, 46, 41);
  border: solid rgb(114, 114, 65);
  color: rgb(203, 211, 159);

  .link-to-add-inside {
    color: rgb(203, 211, 159);
  }
}

.link-to-add-inside {
  color: black;
  text-decoration: none;
}

.body-bottom {
  width: 90%;
  margin: 20px auto 10px;
}

.quote-list {
  margin: 15px auto;
  padding: 0px;
}

.quotes {
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight: 500;
  word-spacing: 2.5px;
  color: rgb(3, 3, 3);
  text-shadow: rgb(102, 101, 101) 0.5px 0.5px;
}

.quotes:hover {
  font-weight: 700;
}

.arrow-icon {
  color: rgb(146, 145, 143);
}

.option-quote {
  color: rgb(146, 145, 143);
}

.option-quote-edit:hover {
  color: rgb(25, 143, 14);
}

.option-quote-delete:hover {
  color: rgb(163, 33, 33);
}

.quotes-author {
  color: rgb(146, 145, 143);
  text-decoration: none;
}

.quotes-author:hover {
  color: rgb(154, 168, 24);
}

.container-show-author-index {
  background-color: rgb(104, 103, 103);
  min-width: 500px;
  max-width: 60%;
  margin: 50px auto;
  padding: 20px 0px;
  padding-right: 20px;
  opacity: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 5px;
}

.list-author-title {
  padding-left: 30px;
}

// ========================================> EDIT
// ========================================> EDIT
// ========================================> EDIT
