// =================================================================>   RANDOMIZER
.body-randomizer {
  background-image: url("home4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.container-1 {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 500px;
  margin: 80px auto;
  align-items: center;
  color: rgb(14, 13, 13);
  text-shadow: rgb(214, 208, 208) 2px 2px;
}

.time,
.name {
  font-weight: 700;
  margin: 20px auto;
  font-size: 3em;
}

.task {
  margin: 30px auto;
  font-size: 1.5em;
  text-align: center;
}

.quote {
  margin: 100px auto 10px;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}

.add-quote {
  font-size: 1em;
}

.body {
  color: white;
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: 200px auto;
  align-items: center;
  // background-color: indianred;
}

span {
  font-size: 2em;
}

// =================================================================>   INDEX

.body-index {
  background-image: url(https://cdn.shopify.com/s/files/1/0020/6123/8339/products/2075808006211.jpg?v=1552409259)
}

.list-index {
  display: flex;
  flex-flow: column;
  margin-top: 50px;
  align-items: center;
}

// table,
// th,
// td {
//   border: 1px solid black;
// }

th {
  font-size: 1.5em;
  padding-bottom: 20px;
}

td {
  font-size: 1.3em;
  padding: 10px 15px;
}

.delete,
.edit {
  color: black;
  text-decoration: none;
}

.link-btn {
  border-radius: 10px;
  width: auto;
  height: 30px;
}

.main-quote {
  font-style: italic;
}

.list-title {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
  z-index: 0;
  height: 200px;
  width: 700px;
  padding-top: 10px;
  text-align: center;
}

.title-label {
  font-size: 3.5em;
  display: block;
  margin-top: 60px;
  font-weight: 800;
  color: black;
  text-shadow: gray 1px 1px;
}


// =================================================================>   NEW

.body-new {
  background-image: url(https://cdn.shopify.com/s/files/1/0020/6123/8339/products/2075808006211.jpg?v=1552409259);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-add {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px auto 10px;
}

.list-title-add-new {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 10px;
  height: 200px;
  width: 700px;
  padding-top: 10px;
  text-align: center;
}

.label {
  color: black;
  font-size: 1.5em;
}

.input-quote {
  width: 400px;
  min-height: 30px;
  border-radius: 5px;
}

// =================================================================>   EDIT

.list-title-add-edit {
  margin: 20px auto 20px;
  font-weight: 800;
  font-size: 1.7em;
  text-shadow: rgb(148, 146, 146) 1px 1px;
}

.form-edit {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px auto 10px;
}

.container-quotes-edit {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(104, 103, 103);
  opacity: 80%;
  width: 500px;
  height: auto;
  margin: 50px auto;
  padding: 0;
  border-radius: 10px;
  box-shadow: black 1px 1px;
}

.label-edit-quote {
  font-size: 1.4em;
  color: white;
  margin: 20px 0 10px;
}

.input-quote {
  font-size: 1.2em;
}

.dropdown-select {
  width: 100px;
  text-align: center;
  font-size: 1.2em;
}

.submit-edit {
  width: 120px;
  margin: 20px auto 20px;
  background-color: rgb(245, 241, 241);
  box-shadow: black 1px 1px;
  font-size: 1.2em;
  border-radius: 5px;
}

.submit-edit:hover {
  background-color: rgb(112, 165, 112);
}


// =================================================================> NEW



.form-body {
  display: flex;
  flex-flow: column;
  align-items: center;
}
